<ion-header>
  <ion-toolbar [color]="'light'">
    <ion-title class="ion-text-center">Collection Status</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding">
  <ion-text>
    <p>Your collection status is <ion-text [color]="'tertiary'"><span>{{ status }}</span></ion-text></p>
    <br>
    <ion-button [expand]="'block'" [shape]="'round'" [routerLink]="['../../']">Back</ion-button>
  </ion-text>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <small>Collection Status</small>
    </ion-title>
  </ion-toolbar>
</ion-footer>
