<ion-header>
  <ion-toolbar [color]="'light'">
    <ion-title class="ion-text-center">Library Collection</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center ion-padding">
  <ion-text>
    <p>Your awesome book is {{ id }}</p>
    <br>
    <ion-button [expand]="'block'" [shape]="'round'" [routerLink]="['../../']">Back</ion-button>
  </ion-text>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <small>Library Collection</small>
    </ion-title>
  </ion-toolbar>
</ion-footer>
