<ion-header>
  <ion-toolbar [color]="'primary'">
    <ion-title class="ion-text-center">Koleksi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="cleaningUp($event)" [slot]="'fixed'">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar>
    <ion-searchbar (search)="onSubmitSearchBar($event)" [value]="keyword" [disabled]="loading" [placeholder]="'Judul/Pengarang/ISBN'" [showClearButton]="'never'"></ion-searchbar>
  </ion-toolbar>
  <ng-container>
    <ion-text *ngIf="loading; else opacContentRef" [color]="'medium'">
      <div class="ion-text-center ion-padding ion-margin">
        <small>Please wait ...</small>
      </div>
    </ion-text>
  </ng-container>
  <ng-template #opacContentRef>
    <div *ngIf="!keyword" class="ion-margin-vertical">
      <ion-text [color]="'medium'" class="ion-text-center">
        <p>Empty collection try and search !</p>
      </ion-text>
    </div>
    <div *ngIf="keyword" class="ion-margin-vertical">
      <ion-item [detail]="true" [button]="true" [routerLink]="['/opac/collection', keyword]">
        <ion-icon [slot]="'start'" [name]="'document-text-outline'"></ion-icon>
        <ion-label>Koleksi</ion-label>
      </ion-item>
      <ion-item [detail]="true" [button]="true" [routerLink]="['/opac/status', keyword]">
        <ion-icon [slot]="'start'" [name]="'checkmark-done-outline'"></ion-icon>
        <ion-label>Status Koleksi</ion-label>
      </ion-item>
    </div>
  </ng-template>
</ion-content>
